
#barra{
	
	
background-image: url(img/encabezado.jpg);

background-position: top;

/* Para que la imagen de fondo no se repita */

background-repeat: no-repeat;

/* La imagen se fija en la ventana de visualización para que la altura de la imagen no supere a la del contenido */

background-attachment: inherit;

/* La imagen de fondo se reescala automáticamente con el cambio del ancho de ventana del navegador */

background-size: cover;

/* Se muestra un color de fondo mientras se está cargando la imagen

de fondo o si hay problemas para cargarla */

}

#derechos {

border: solid 2px #000;
border-color:red;

}
#margenes {
	margin:10px;
}

#cuadros{
	border: solid 1px #000;
	margin: 20px;
}
#cuadro1{
min-width:300px;
}
#cuadro2{
min-width:300px;
}
#img{
	width: 23vw;
	min-width:300px;
}

#periodico{
	width:90%;  
      height:100vw;
	  border:none;	
}


